<!-- Inside your views, use the 'simple_form_for' with one of the Bootstrap form -->
  <!-- classes, '.form-horizontal' or '.form-inline', as the following:

    = simple_form_for(@user, html: { class: 'form-horizontal' }) do |form| -->

    <h1> New Cocktails </h1>
      <%= simple_form_for(@cocktail) do |form| %>
      <%= f.error_notification %>

      <%= form.input :name %>

      <%= form.button :submit %>
      <% end %>

    <hr> link_to 'Back to the cocktails list', cocktails_path()
