<h1>Add a dose</h1>

  <%= simple_form_for (@cocktail, @dose) do |form| %>
  <%= form.input :description %>
  <%= form.association :ingredient %>

  <%= form.button :submit %>
  <% end %>

<hr>
link_to 'Back to the cocktail', cocktail_path(@cocktail)

link_to 'Back to the cocktail list', cocktails_path()
